:host {
    display: block;
}

// Ensure dropdowns take full width
::ng-deep .p-dropdown {
    width: 100%;
}

::ng-deep .p-calendar {
    width: 100%;
}

::ng-deep .p-inputnumber {
    width: 100%;
}
